<section class="section recruit">
    <div class="recruit__inner">
        <h2 class="section__heading">採用情報</h2>
        <p class="section__sub-heading news__sub-heading--recruit">RECRUIT</p>
        <p class="recruit__lead">KAGUの新卒・中途採用情報を掲載しております。<br class="sp_only">アルバイト情報についても掲載しております。</p>
        <a href="" class="section__button section__button--recruit">採用情報一覧へ</a>
    </div>
</section>
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__information">
            <div class="footer__information--logo">
                <img class="u-img" src="images/footer-logo.png">
            </div>
            <div class="footer__information--company">
                <p>株式会社KAGU</p>
                <p>大阪府大阪市〇〇区〇〇町 XX-X</p>
                <p class="footer__information--tel">TEL. 000-000-0000</p>
            </div>
        </div>
        <div class="footer__menu">
            <ul class="footer__nav">
                <li class="footer__nav-item js-accordion">取扱い家具</li>
                <li class="js-accordion__item">
                    <ul class="footer__nav footer__nav--accordion">
                        <li class="footer__nav-item footer__nav-item--accordion">テーマで探す</li>
                        <li class="footer__nav-item footer__nav-item--accordion">カラーで探す</li>
                        <li class="footer__nav-item footer__nav-item--accordion">シーンで探す</li>
                        <li class="footer__nav-item footer__nav-item--accordion">ブランドで探す</li>
                        <li class="footer__nav-item footer__nav-item--accordion">素材で探す</li>
                    </ul>
                </li>
                <li class="footer__nav-item">販売店・展示場一覧</li>
            </ul>
            <ul class="footer__nav">
                <li class="footer__nav-item">採用情報</li>
                <li class="footer__nav-item">お知らせ</li>
                <li class="footer__nav-item">お問い合わせ</li>
            </ul>
        </div>
        <a class="privacy-policy">プライバシーポリシー</a>
        <small class="copy-right">©︎2020 KAGU inc.</small>
    </div>
</footer>