<section class="section recruit">
    <div class="recruit__inner">
        <h2 class="section__heading">採用情報</h2>
        <p class="section__sub-heading news__sub-heading--recruit">RECRUIT</p>
        <p class="recruit__lead">KAGUの新卒・中途採用情報を掲載しております。<br class="sp_only">アルバイト情報についても掲載しております。</p>
        <a href="" class="section__button section__button--recruit">採用情報一覧へ</a>
    </div>
</section>
<footer class="footer">
    <div class="footer__inner">
        <div class="company-information">
            <div class="footer-logo">
                <img class="u-img" src="images/footer-logo.png">
            </div>
            <div>株式会社KAGU</div>
            <div>大阪府大阪市〇〇区〇〇町 XX-X</div>
            <div>TEL. 000-000-0000</div>
        </div>
        <div class="footer-menu-list">
            <ul class="footer__navgroup">
                <li class="footer__navitem">取扱い家具</li>
                <li class="footer__navitem js-accordion">販売店・展示場一覧</li>
                <li class="js-accordion__item">
                    <ul class="footer__navgroup">
                        <li class="footer__navitem">販売店一覧</li>
                        <li class="footer__navitem">展示場一覧</li>
                    </ul>
                </li>
            </ul>
            <ul class="footer__navgroup">
                <li class="footer__navitem">採用情報</li>
                <li class="footer__navitem">お知らせ</li>
                <li class="footer__navitem">お問い合わせ</li>
            </ul>
        </div>
        <a class="privacy-policy">プライバシーポリシー</a>
        <small class="copy-right">©︎2020 KAGU inc.</small>
    </div>
</footer>