<header class="header">
    <div class="header__inner">
        <a href="index.html">
            <img class="header__logo"
                 src="images/header-logo.png"
                 alt="kagu"
                 decoding="async"
                 width="145"
                 height="23"
            >
        </a>
        <nav class="header__nav js-menu__nav">
            <div class="header__nav-logo">
                <img class="header__nav-logo-img"
                     src="images/header-logo_sp.png"
                     alt="kagu"
                     decoding="async"
                     width="145"
                     height="23"
                >
            </div>
            <ul class="header__nav-list js-menu__list">
                <li class="header__nav-item">
                    <a href="#furniture">取扱い家具</a>
                </li>
                <li class="header__nav-item">
                    <a href="#shop">販売店・展示場一覧</a>
                </li>
                <li class="header__nav-item">
                    <a href="#recruit">採用情報</a>
                </li>
                <li class="header__nav-item">
                    <a href="#news">お知らせ</a>
                </li>
            </ul>
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--online">
                    <a href="#online">ONLINE STORE</a>
                </li>
                <li class="header__nav-item header__nav-item--inquiry">
                    <a href="contact.html"><span class="material-symbols-outlined">mail</span>お問い合わせ</a>
                </li>
            </ul>
        </nav>
        <div class="header-button">
            <div class="header-button__inner js-button__inner">
                <span></span><span></span><span></span>
            </div>
        </div>
    </div>
</header>