@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background: #ffffff;
}
@media screen and (min-width: 1000px) {
  .header {
    width: 100%;
    height: 80px;
  }
}
.header__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__logo {
  flex: none;
  width: auto;
  height: 17px;
  margin-left: 20px;
}
@media screen and (min-width: 1000px) {
  .header__logo {
    height: 23px;
    margin-left: 40px;
  }
}
.header__nav {
  opacity: 0;
}
@media screen and (min-width: 1000px) {
  .header__nav {
    opacity: 1;
    margin-left: auto;
    display: flex;
    flex: none;
  }
}
.header__nav.active {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  transition: opacity 0.3s linear;
  background: #867266;
  background-image: linear-gradient(45deg, #9d8a7e 25%, transparent 25%, transparent 75%, #9d8a7e 75%), linear-gradient(45deg, #9d8a7e 25%, transparent 25%, transparent 75%, #9d8a7e 75%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.header__nav-logo {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: #8c7665 2px solid;
}
@media screen and (min-width: 1000px) {
  .header__nav-logo {
    display: none;
  }
}
.header__nav-img {
  width: auto;
  height: 17px;
}
.header__nav-list:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
@media screen and (min-width: 1000px) {
  .header__nav-list:nth-of-type(1) {
    flex-direction: row;
    align-items: center;
  }
}
.header__nav-list:nth-of-type(2) {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 1000px) {
  .header__nav-list:nth-of-type(2) {
    align-items: center;
  }
}
.header__nav-item {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  padding: 15px 0;
  border-bottom: #8c7665 2px solid;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .header__nav-item {
    font-size: 1.5rem;
    padding: 0 15px;
    width: auto;
    border: none;
  }
}
.header__nav-item a {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 1000px) {
  .header__nav-item a {
    color: #333;
  }
}
.header__nav-item--online {
  background: #23a2b4;
  height: 80px;
  line-height: 80px;
  width: 170px;
  text-align: center;
  padding: 0;
  border: none;
}
.header__nav-item--online a {
  display: inline-flex;
  align-items: center;
  color: #fff;
}
.header__nav-item--online a > span {
  padding-right: 5px;
}
.header__nav-item--inquiry {
  background: #a98f7c;
  height: 80px;
  line-height: 80px;
  width: 170px;
  text-align: center;
  padding: 0;
  border: none;
}
.header__nav-item--inquiry a {
  display: inline-flex;
  align-items: center;
  color: #fff;
}
.header__nav-item--inquiry a > span {
  padding-right: 5px;
}

.header-button {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 3;
}
@media screen and (min-width: 1000px) {
  .header-button {
    display: none;
  }
}
.header-button__inner {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  /*ボタン*/
}
.header-button__inner span {
  display: inline-block;
  transition: all 0.3s linear; /*アニメーションの設定*/
  position: absolute;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background: #333;
}
.header-button__inner span:nth-of-type(1) {
  top: 35%;
  width: 45%;
}
.header-button__inner span:nth-of-type(2) {
  top: 50%;
  width: 40%;
}
.header-button__inner span:nth-of-type(3) {
  top: 65%;
  width: 35%;
}
.header-button__inner.active span:nth-of-type(1) {
  top: 35%;
  right: 0;
  transform: translateY(6px) rotate(-135deg);
  width: 45%;
  background: #fff;
}
.header-button__inner.active span:nth-of-type(2) {
  opacity: 0;
}
.header-button__inner.active span:nth-of-type(3) {
  top: 55%;
  right: 0;
  transform: translateY(-6px) rotate(135deg);
  width: 45%;
  background: #fff;
}