<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ああああ">
        <title>Document</title>
        <!-- google icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="css/sanitize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/footer.css">
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include("common/_header") %>
        <section class="keyv">
            <div class="keyv__inner">
                <picture>
                    <source media="(min-width: 560px)"
                            srcset="images/top/keyv.jpg"
                            width="1500"
                            height="610"
                    >
                    <img class="u-img"
                         src="images/top/keyv_sp.jpg"
                         alt="メインビジュアル"
                         decoding="async"
                         width="750"
                         height="720"
                    >
                </picture>
                <h1 class="keyv__heading">自分らしさを<br class="sp_only">レイアウトする</h1>
            </div>
        </section>
        <!-- お知らせ一覧 -->
        <section class="section news" id="news">
            <div class="news__inner">
                <h2 class="section__heading">お知らせ</h2>
                <p class="section__sub-heading">NEWS</p>
                <ul class="news__list">
                    <li class="news__item">
                        <time class="news__item--date" datetime="2020-01-28">2020.01.28</time>
                        <span class="news__item--category">ニュースリリース</span>
                        <a href="#" class="news__article">
                            <p class="news__article--title">「KAGU FANTASIA」が2020年X月XX日（月）東京・原宿にオープン</p>
                        </a>
                    </li>
                    <li class="news__item">
                        <time class="news__item--date" datetime="2020-01-28">2020.01.12</time>
                        <span class="news__item--category">ニュースリリース</span>
                        <a href="#" class="news__article">
                            <p class="news__article--title">新春キャンペーンを実施</p>
                        </a>
                    </li>
                    <li class="news__item">
                        <time class="news__item--date" datetime="2020-01-28">2020.12.26</time>
                        <span class="news__item--category">お知らせ</span>
                        <a href="#" class="news__article">
                            <p class="news__article--title">年末年始の営業日についてのお知らせ</p>
                        </a>
                    </li>
                    <li class="news__item">
                        <time class="news__item--date" datetime="2020-01-28">2019.12.09</time>
                        <span class="news__item--category">ニュースリリース</span>
                        <a href="#" class="news__article">
                            <p class="news__article--title">人気ライフスタイル雑誌『KAGUGU』とのコラボ商品が登場</p>
                        </a>
                    </li>
                </ul>
                <div>
                    <a href="" class="section__button">お知らせ一覧へ</a>
                </div>
            </div>
        </section>
        <!-- 取扱い家具 -->
        <section class="section" id="furniture">
            <div class="furniture__inner">
                <h2 class="section__heading">取扱い家具</h2>
                <p class="section__sub-heading">FURNITURE</p>
                <ul class="main-search">
                    <li class="main-search__item">
                        <img class="u-img main-search__img"
                             src="images/top/furniture_01.jpg"
                             loading="lazy"
                             width="610"
                             height="610"
                        >
                        <div class="main-search__container">
                            <h3 class="main-search__container--title">テーマで探す</h3>
                            <p class="main-search__container--lead">モダン、ナチュラル、北欧、ヴィンテージ、和風、ハワイアン、アメリカン、ミニマルなど、テーマごとに家具をお探しいただけます。</p>
                            <div class="main-search__container--button">
                                <a href="" class="section__button">取扱家具の一覧へ</a>
                            </div> 
                        </div>
                    </li>
                    <li class="main-search__item">
                        <img class="u-img main-search__img"
                             src="images/top/furniture_02.jpg"
                             loading="lazy"
                             width="610"
                             height="610"
                        >
                        <div class="main-search__container">
                            <h3 class="main-search__container--title">カラーで探す</h3>
                            <p class="main-search__container--lead">レッド、ブルー、グリーン、イエロー、オレンジ、ピンク、パープル、ベージュ・アイボリー、ブラウン、ブラック、グレー、ホワイトなど好みのカラーごとに家具をお探しいただけます。</p>
                            <div class="main-search__container--button">
                                <a href="" class="section__button">取扱家具の一覧へ</a>
                            </div> 
                        </div>
                    </li>
                </ul>
                <ul class="search">
                    <li class="search__item">
                        <img class="u-img"
                             src="images/top/furniture_03.jpg"
                             loading="lazy"
                             width="610"
                             height="610"
                        >
                        <div class="search__container">
                            <h3 class="search__container--title">シーンで探す</h3>
                            <p class="search__container--lead">「リビング」や「ダイニング」、「寝室・ベッドルーム」、「キッチン」、「玄関・エントランス」、「書斎・ホームオフィス」などのシーンから、それぞれのシーンで使用する家具をお探しいただけます。</p>
                            <div class="search__container--button">
                                <a href="" class="section__button">ONLINE STORE
                                    <span class="material-symbols-outlined section__icon">open_in_new</span>
                                </a>
                            </div> 
                        </div>
                    </li>
                    <li class="search__item">
                        <img class="u-img"
                             src="images/top/furniture_04.jpg"
                             loading="lazy"
                             width="610"
                             height="610"
                        >
                        <div class="search__container">
                            <h3 class="search__container--title">ブランドで探す</h3>
                            <p class="search__container--lead">モダン、ナチュラル、北欧、ヴィンテージ、和風、ハワイアン、アメリカン、ミニマルなど、テーマごとに家具をお探しいただけます。</p>
                            <div class="search__container--button">
                                <a href="" class="section__button">ONLINE STORE
                                    <span class="material-symbols-outlined section__icon">open_in_new</span>
                                </a>
                            </div>                         
                        </div>
                    </li>
                    <li class="search__item">
                        <img class="u-img"
                             src="images/top/furniture_05.jpg"
                             loading="lazy"
                             width="610"
                             height="610"
                        >
                        <div class="search__container">
                            <h3 class="search__container--title">素材で探す</h3>
                            <p class="search__container--lead">モダン、ナチュラル、北欧、ヴィンテージ、和風、ハワイアン、アメリカン、ミニマルなど、テーマごとに家具をお探しいただけます。</p>
                            <div class="search__container--button">
                                <a href="" class="section__button">ONLINE STORE
                                    <span class="material-symbols-outlined section__icon">open_in_new</span>
                                </a>
                            </div> 
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section others" >
            <div class="others__inner">
                <ul class="others-list">
                    <li class="others-list__item">
                        <img class="u-img others-list__img"
                             src="images/top/store.jpg"
                             loading="lazy"
                             width="760"
                             height="400"
                        >
                        <div class="others-list__container">
                            <h4 class="others-list__container--title" id="shop">販売店・展示場一覧</h4>
                            <p>KAGUの販売店をご覧いただけます。 また、KAGUの家具は全国のショールームにてご覧いただけます。</p>
                            <a href="" class="others-list__container--link">
                                販売店・展示場一覧を見る
                                <span class="icon icon__arrow"></span>
                            </a>
                        </div>
                    </li>
                    <li class="others-list__item">
                        <img class="u-img others-list__img"
                             src="images/top/online.jpg"
                             loading="lazy"
                             width="760"
                             height="400"
                        >
                        <div class="others-list__container">
                            <h4 class="others-list__container--title" id="online">ONLINE STORE</h4>
                            <p>KAGUの家具はオンラインストアでもご購入いただけます。 </p>
                            <a href="" class="others-list__container--link">
                                オンラインストアを見る
                                <span class="material-symbols-outlined section__icon">open_in_new</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <%- include("common/_footer") %>
        <script src="js/app.js"></script>
    </body>
</html>